#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 65px);
    grid-template-rows: repeat(8, 65px);
    width: 520px;
    height: 520px;
    background-color: blue;
}

#chessboard .tile {
    width: 65px;
    height: 65px;
}

#chessboard .black-tile {
    background-color: #779556;
}

#chessboard .white-tile {
    background-color: #ebecd0;
}